
/* ==========================================================================
   hello
   ========================================================================== */

   .hello-left {
    box-shadow: inset -2px 0px 6px 0px rgba(0,0,0,0.35);
}

@media (max-width: 800px) {
    .hello-left {
        width: 100%
    }
}

.hello-left hr {
    margin-left: 0;
}

.signature {
    width: 50%;
}
